@tailwind base;
@tailwind components;
@tailwind utilities;

.black-nav{
    background-color: black!important;
}

.formContainer {
    margin-top: 40px;
    background: #39393A;
    border-radius: 50px;
}

.loginField {
    margin: 20px;
}

.labelLoginField {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #929292;
}

.labelLogin {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #C2C2C2;
}

.loginContainer {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    align-self: flex-start;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: rgba(125, 215, 111, 0.4);
    border-radius: 15px;
}

.textStatus {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #000000;
}

.baseFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baseContainer{
    border: solid 4px #39393A;
    border-radius: 6px;
    margin: 10px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleWhite{
    letter-spacing: 0.02em;
    color: #E6E6E6;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 68px;
    margin-left: 10px;
}

.titleBaseFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #39393A;
}

.projectContainer{
    cursor: pointer;
    margin: 15px;
    background: #E0E0E0;
    border-radius: 24px;
    width: 60vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: 'Pixel';
    src: local('./fonts/pixelated.ttf'),
    url('./fonts/pixelated.ttf') format("truetype");
}
.titleProject {
    font-family: Pixel;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: 4%;
}

.titleProjectDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #6B6B6B;
}

.projectDescription {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #000000;
}

.drawerLayout {
    position: absolute;
    background: #E6E6E6;
    border-right: 7px solid #39393A;
}

.tableProject {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.footer-border{
    border-radius: 0!important;
}

@media screen {
    
}
